###############################################################################
# windows
/.vs
/ipch
/Debug
/Release
/*.VC.db
/*.VC.opendb
/*.vcxproj.user

###############################################################################
# linux
/obj
/src/stdafx.hpp.gch
/SimpleServer
/SimpleClient
