###############################################################################
# common ingnore list
*.cmake
CMakeFiles/

/CMakeCache.txt
/Docs/INFO_*

/sql/share/*/errmsg.sys

cmd-line-utils/libedit/common.h
cmd-line-utils/libedit/emacs.h
cmd-line-utils/libedit/fcns.c
cmd-line-utils/libedit/fcns.h
cmd-line-utils/libedit/help.c
cmd-line-utils/libedit/help.h
cmd-line-utils/libedit/vi.h
include/mysqld_ername.h
include/mysqld_error.h
include/sql_state.h
libmysql/mysqlclient_depends.c
libmysqld/lex_token.h
libmysqld/mysqlserver_depends.c
libmysqld/sql_hints.yy.cc
libmysqld/sql_hints.yy.h
libmysqld/sql_yacc.cc
libmysqld/sql_yacc.h
rapid/plugin/x/protobuf/
rapid/plugin/x/protobuf_lite/
scripts/comp_sql
scripts/mysql_fix_privilege_tables.sql
scripts/mysql_fix_privilege_tables_sql.c
scripts/sql_commands_help_data.h
scripts/sql_commands_sys_schema.h
scripts/sql_commands_system_data.h
scripts/sql_commands_system_tables.h
sql/lex_hash.h
sql/lex_token.h
sql/mysqld.def
sql/sql_hints.yy.cc
sql/sql_hints.yy.h
sql/sql_yacc.cc
sql/sql_yacc.h
storage/ndb/src/ndbclient_static_depends.c
storage/ndb/test/run-test/check_testcase_files.output
storage/ndb/test/run-test/check_testcase_files.passed


###############################################################################
# windows ignore list
/MySQL.VC.db
/MySQL.VC.VC.opendb
/.vs/
Debug
Release



###############################################################################
# linux ignore list
Makefile
*.a
*.so
*.so.*
client/mysql
client/mysql_config_editor
client/mysql_install_db
client/mysql_plugin
client/mysql_secure_installation
client/mysql_ssl_rsa_setup
client/mysql_upgrade
client/mysqladmin
client/mysqlbinlog
client/mysqlcheck
client/mysqldump
client/mysqlimport
client/mysqlpump
client/mysqlshow
client/mysqlslap
client/mysqltest
extra/comp_err
extra/innochecksum
extra/lz4_decompress
extra/my_print_defaults
extra/perror
extra/protobuf/protoc
extra/replace
extra/resolve_stack_dump
extra/resolveip
extra/zlib_decompress
libmysql/libmysql_api_test
libmysqld/examples/mysql_client_test_embedded
libmysqld/examples/mysql_embedded
libmysqld/examples/mysqltest_embedded
mysql-test/lib/My/SafeProcess/my_safe_process
mysql-test/mtr
mysql-test/mysql-test-run
mysys/base64_test
mysys/queues
mysys/thr_lock
rapid/plugin/x/mysqlxtest
regex/re
sql/gen_lex_hash
sql/gen_lex_token
sql/mysql_tzinfo_to_sql
sql/mysqld
storage/heap/hp_test1
storage/heap/hp_test2
storage/myisam/myisam_ftdump
storage/myisam/myisamchk
storage/myisam/myisamlog
storage/myisam/myisampack
storage/ndb/mcc/host_info/host_info
storage/ndb/memcache/extra/memcached/memcached
storage/ndb/memcache/memclient
storage/ndb/memcache/unit/run_unit_tests
storage/ndb/src/cw/cpcd/ndb_cpcd
storage/ndb/src/kernel/blocks/backup/ndb_print_backup_file
storage/ndb/src/kernel/blocks/dbdict/ndb_print_schema_file
storage/ndb/src/kernel/blocks/dbdih/ndb_print_frag_file
storage/ndb/src/kernel/blocks/dbdih/ndb_print_sys_file
storage/ndb/src/kernel/blocks/dblqh/ndb_redo_log_reader
storage/ndb/src/kernel/blocks/ndb_print_file
storage/ndb/src/kernel/ndbd
storage/ndb/src/kernel/ndbmtd
storage/ndb/src/mgmclient/ndb_mgm
storage/ndb/src/mgmsrv/ndb_mgmd
storage/ndb/src/ndbclient_shared_link_test
storage/ndb/src/ndbclient_static_link_test
storage/ndb/test/ndbapi/DbAsyncGenerator
storage/ndb/test/ndbapi/DbCreate
storage/ndb/test/ndbapi/bank/bankCreator
storage/ndb/test/ndbapi/bank/bankMakeGL
storage/ndb/test/ndbapi/bank/bankSumAccounts
storage/ndb/test/ndbapi/bank/bankTimer
storage/ndb/test/ndbapi/bank/bankTransactionMaker
storage/ndb/test/ndbapi/bank/bankValidateAllGLs
storage/ndb/test/ndbapi/bank/testBank
storage/ndb/test/ndbapi/create_all_tabs
storage/ndb/test/ndbapi/create_tab
storage/ndb/test/ndbapi/drop_all_tabs
storage/ndb/test/ndbapi/flexAsynch
storage/ndb/test/ndbapi/flexBench
storage/ndb/test/ndbapi/flexHammer
storage/ndb/test/ndbapi/flexTT
storage/ndb/test/ndbapi/ndbapi_slow_select
storage/ndb/test/ndbapi/testAsynchMultiwait
storage/ndb/test/ndbapi/testBackup
storage/ndb/test/ndbapi/testBasic
storage/ndb/test/ndbapi/testBasicAsynch
storage/ndb/test/ndbapi/testBitfield
storage/ndb/test/ndbapi/testBlobs
storage/ndb/test/ndbapi/testDataBuffers
storage/ndb/test/ndbapi/testDeadlock
storage/ndb/test/ndbapi/testDebugger
storage/ndb/test/ndbapi/testDict
storage/ndb/test/ndbapi/testFK
storage/ndb/test/ndbapi/testIndex
storage/ndb/test/ndbapi/testIndexStat
storage/ndb/test/ndbapi/testInterpreter
storage/ndb/test/ndbapi/testLcp
storage/ndb/test/ndbapi/testLimits
storage/ndb/test/ndbapi/testMgm
storage/ndb/test/ndbapi/testMgmd
storage/ndb/test/ndbapi/testNativeDefault
storage/ndb/test/ndbapi/testNdbApi
storage/ndb/test/ndbapi/testNdbinfo
storage/ndb/test/ndbapi/testNodeRestart
storage/ndb/test/ndbapi/testOIBasic
storage/ndb/test/ndbapi/testOperations
storage/ndb/test/ndbapi/testPartitioning
storage/ndb/test/ndbapi/testReadPerf
storage/ndb/test/ndbapi/testRedo
storage/ndb/test/ndbapi/testRestartGci
storage/ndb/test/ndbapi/testSRBank
storage/ndb/test/ndbapi/testScan
storage/ndb/test/ndbapi/testScanFilter
storage/ndb/test/ndbapi/testScanInterpreter
storage/ndb/test/ndbapi/testScanPerf
storage/ndb/test/ndbapi/testSingleUserMode
storage/ndb/test/ndbapi/testSpj
storage/ndb/test/ndbapi/testSystemRestart
storage/ndb/test/ndbapi/testTimeout
storage/ndb/test/ndbapi/testTransactions
storage/ndb/test/ndbapi/testUpgrade
storage/ndb/test/ndbapi/test_event
storage/ndb/test/ndbapi/test_event_merge
storage/ndb/test/run-test/atrt
storage/ndb/test/tools/copy_tab
storage/ndb/test/tools/create_fk
storage/ndb/test/tools/create_index
storage/ndb/test/tools/drop_fk
storage/ndb/test/tools/hugoFill
storage/ndb/test/tools/hugoJoin
storage/ndb/test/tools/hugoLoad
storage/ndb/test/tools/hugoLockRecords
storage/ndb/test/tools/hugoPkDelete
storage/ndb/test/tools/hugoPkRead
storage/ndb/test/tools/hugoPkReadRecord
storage/ndb/test/tools/hugoPkUpdate
storage/ndb/test/tools/hugoScanRead
storage/ndb/test/tools/hugoScanUpdate
storage/ndb/test/tools/ndb_connect
storage/ndb/test/tools/ndb_cpcc
storage/ndb/test/tools/restart
storage/ndb/test/tools/verify_index
storage/ndb/tools/ndb_blob_tool
storage/ndb/tools/ndb_config
storage/ndb/tools/ndb_delete_all
storage/ndb/tools/ndb_desc
storage/ndb/tools/ndb_drop_index
storage/ndb/tools/ndb_drop_table
storage/ndb/tools/ndb_dump_frm_data
storage/ndb/tools/ndb_error_reporter
storage/ndb/tools/ndb_index_stat
storage/ndb/tools/ndb_move_data
storage/ndb/tools/ndb_restore
storage/ndb/tools/ndb_select_all
storage/ndb/tools/ndb_select_count
storage/ndb/tools/ndb_show_tables
storage/ndb/tools/ndb_waiter
storage/ndb/tools/ndbinfo.sql
storage/ndb/tools/ndbinfo_select_all
storage/ndb/tools/ndbinfo_sql
storage/perfschema/unittest/pfs-t
storage/perfschema/unittest/pfs_account-oom-t
storage/perfschema/unittest/pfs_connect_attr-t
storage/perfschema/unittest/pfs_host-oom-t
storage/perfschema/unittest/pfs_instr-oom-t
storage/perfschema/unittest/pfs_instr-t
storage/perfschema/unittest/pfs_instr_class-oom-t
storage/perfschema/unittest/pfs_instr_class-t
storage/perfschema/unittest/pfs_misc-t
storage/perfschema/unittest/pfs_noop-t
storage/perfschema/unittest/pfs_user-oom-t
testclients/bug25714
testclients/mysql_client_test
unittest/examples/no_plan-t
unittest/examples/simple-t
unittest/examples/skip-t
unittest/examples/skip_all-t
unittest/examples/todo-t
unittest/mytap/t/basic-t
unittest/ndb/*
